
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllView</title>
</head>
<body>
    <div>
        <table border="1" style="width: 100%;">

            <tr>
                <font size="5" color="#000000">深圳新厂</font>
            </tr>
           
         

            <tr>
                <td><a href="../Zzj/MainView?id=1" traget="_blank">材料扫描信息</a></td>
                <td><a href="../Zzj/MainView?id=2" traget="_blank">直通率看板5楼</a></td>
                <td><a href="../Zzj/MainView?id=3" traget="_blank">项目进度</a></td>
                <td><a href="../Zzj/MainView?id=4" traget="_blank">模切达成进度</a></td>
                
            </tr>
          
           
        </table>
  
        
        
         
    </div>
</body>
</html>
